/**
 * Styles for the month controls
 */

svg {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
  g {
    &.entity-box {
      rect {
        &.entity-rect {
          border: 1px solid #333333;

          &.entity-rect-who {
            fill: #aa9cfc;
            color: #000000;
          }

          &.entity-rect-where {
            fill: #feca74;
            color: #000000;
          }

          &.entity-rect-when {
            fill: #bfe1d9;
            color: #000000;
          }

          &.entity-rect-what {
            fill: #c3a7ae;
            color: #000000;
          }
        }
      }

      text {
        fill: #000000;
        font-size: 12px;
      }
    }
  }
  .entity-connection {
    stroke: #000000;
    &.entity-connection-who-where {
      stroke: #aa9cfc;
    }
    &.entity-connection-where-when {
      stroke: #feca74;
    }
    &.entity-connection-when-what {
      stroke: #bfe1d9;
    }
  }
}
